.main
{
	width: 60%;
	
	margin: auto;
	margin-top: 50px;
}

.title
{
	font-size: 25px;
	align-items: center;
	text-align: center;
}


.textCss
{
	
	margin: auto;
	width: 100%;
    border-color: #ccc;
	font-size: 17px;

}
.submitButton
{
 
  background-color: #98989496;
  
  padding: 15px 25px;
  margin: 8px 0;
  font-size: 17px;


}

.errorCss
{
 	font-size: 15px;
	
	color: red;

}

table
{
	width: 80%;
	margin: auto;
	
	
}
tr
{
	height: 50px;
	
}

td
{
	
	width: 52%;
	
}

